@font-face {
    font-family: "Chicago";
    src: url(/src/fonts/Chicago.ttf) format("truetype");
}

:root {
  --bg-color: #ffb654;
}


html,
body {
  padding: 10px;
  padding-bottom: 300px;
  height: 100%
  background-color: var(--bg-color);
  color: black;
  font-family: Chicago;
  overflow: hidden;
  width: 512px;
  margin: auto;
}

.container {
  display: block;
  width: 800px;
  position: absolute;
  overflow: auto;
  min-height: 1200px;
  max-height: 1200px;
  border-radius: 5px;
  border-style: none;
  background-color: white;
  margin: auto;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.75);
  z-index: 2;
}

.head {
  width: 100%;
  padding: 0;
}

.scrollbg {
    background-image: url(/src/images/hellzonebg.png);
    opacity: 1;
    position: fixed;
    width: 1000%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 1;
    animation: slide 2000s linear infinite;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-90%, 0, 0);
    }
}
